@charset "UTF-8"; /* CSS Document */ 
/* The body tag style applies to all elements on the page */ 
body 
{ 
    background-color: rgb(0, 0, 0); 
    font-family: Verna, Geneva, Arial, sans-serif; 
    background-image: url("https://img.freepik.com/free-vector/realistic-galaxy-background_23-2148991322.jpg");
    background-attachment: fixed;
    padding:0px; 
    margin:0px; 
}


#wrapper
{ 
    width: 960px;
    height: 1200x; 
    margin-left: auto; 
    margin-right: auto; 
    background-color:rgb(255, 255, 255) ;
    opacity: 0.8; 
} 

.nav img
{
    padding-left: 50px;
    padding-top: 30px;
}

.home
{
    text-shadow: 2px 2px 5px purple;
    padding: 50px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.home video
{
    padding-left: 250px;
}

.about
{
    text-shadow: 2px 2px 5px purple;
    padding: 50px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.contact
{
    text-shadow: 2px 2px 5px purple;
    padding: 50px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   


}



p
{
    text-shadow: 2px 2px 5px purple;
    padding: 50px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;

}
.portfolio
{
    text-shadow: 2px 2px 5px purple;
    padding: 50px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

input[type=text], select, textarea 
{
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] 
{
    background-color: purple;
    height: 40px;
    width: 80px;
    color: white;
}

input[type=submit]:hover
{
    background-color: black;
}

#banner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 5px purple;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
}

.options
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: inline;
}

li {
    align-items: center;
    display: inline-block;
    margin-left: auto; 
    margin-right: auto; 
    padding: 20px 107px;
    padding-bottom: 50px;
}    
    
a:link {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
}
      
a:visited {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
}
      
a:hover {
        color: rgb(255, 0, 0);
        background-color: transparent;
        text-decoration: none;
}
      
a:active {
        color: rgb(0, 17, 255);
        background-color: transparent;
        text-decoration: none; 
}



#footer
{
    color: white;
}
h3
{
    color: white;
}